div.equationBlock {
	position:fixed;
	min-width:250px;
	min-height:100px;
	max-height:500px;
	max-width:500px;
	overflow-y:auto;
	left:0px;
	top:0px;
	display:none;
	background-color:#F3F0DD;
	font-family:alice;
	border:1px solid #ABA98E;
	border-right: 10px solid #3A3603;
}

div.equationBlock  h2{
	margin-top:3px;
}

div.equationBlock a {
	color:#3A3603;
	text-decoration:none;
}

div.equationBlock a:hover {
	color:#330000;
	text-decoration:none;
}

span.equation {
	border-bottom:1px dashed #555555;
	display:inline-block;
}

span.equation:hover {
	border-bottom:1px dashed #AA0000;
}

.equationhelp {
	font-size:8pt;
	margin-top:20px;
	margin-left:30px;
}

.equationInfo {
    margin-top:5px;
}

.equationInfo > p {
    margin-left:5%;
    margin-right:5%;
}