div.equationBlock {
	position:fixed;
	min-width:150px;
	min-height:50px;
	max-width:300px;
	left:0px;
	top:0px;
	display:none;
	background-color:#F3F0DD;
	font-family:alice;
	border:1px solid #ABA98E;
	border-right: 10px solid #3A3603;
}

div.equationBlock  h2{
	margin-top:3px;
}

p.equationhelp {
	font-size:8pt;
	margin-top:20px;
	margin-left:30px;
}

div.equationBlock a {
	color:#3A3603;
	text-decoration:none;
}

div.equationBlock a:hover {
	color:#330000;
	text-decoration:none;
}

span.equation {
	font-weight:boldest;
	font-family:monospace;
	font-style:none;
	margin:0px 5px;
	display:inline-block;
}

.bigequation {
	font-size:200%;
	text-align:center;
}