.definable {
	border-bottom:1px dotted #555555;
}

.definable:hover {
	border-bottom:1px dotted #AA0000;
}

.gl_definition {
    
}

div.gl_block {
	position:fixed;
	min-width:250px;
	min-height:50px;
	max-height:500px;
	max-width:500px;
	overflow-y:auto;
	left:0px;
	top:0px;
	display:none;
	background-color:#F3F0DD;
	font-family:alice;
	border:1px solid #ABA98E;
	border-right: 10px solid #3A3603;
}

div.gl_block > a {
	color:#3A3603;
	text-decoration:none;
}

div.gl_block > a:hover {
	color:#330000;
	text-decoration:none;
}

.gl_help {
    font-size:8pt;
    margin-top:20px;
    margin-left:30px;
}

.gl_word {
    margin-top:3px;
}

.gl_term {
	width:30%;
	text-align:right;
	margin:auto 5% auto 0px;
	float:left;
}

.gl_def {
	width:60%;
	float:left;
}

