@font-face {
	font-family:highland;
	src:url('../font/HighlandGothicLightFLF.ttf');
}

@font-face {
	font-family:questrial;
	src:url('../font/Questrial-Regular.ttf');
}

@font-face {
	font-family:alice;
	src:url('../font/Alice-Regular.ttf');
}

a {
	color:#5A5623;
}

body {
	background-color:#0D0152;
	background-image:url(../img/squared_metal.png);
	background-repeat:repeat;
}

h1,h2,h3,h4,h5 {
	font-family:questrial;
	margin-bottom:2px;
}

h1 { margin-left:5px; }
h2 { margin-left:10px; color:#221; }
h3 { margin-left:15px; color:#443; }
h4 { margin-left:20px; color:#665; }
h5 { margin-left:25px; color:#887; }

h2 > a, li > a {
	text-decoration:none;
	color:#444400;
}

ol {
	margin-right:5px;
}

p { margin:5px 20px; }

div.main_foreground {
	width:75%;
	margin:10px auto;
	overflow-x:hidden;
	min-width:800px;
}

div.main_toplevel {
	min-width:800px;
	width:100%;
	max-width:1480px;
    background-color:#E7E5CB;
}

div.main_header {
	padding:15px 0px 0px 0px;
	background-color:#ABA98E;
	font-size:20pt;
}

div.main_header > h1 {
	margin:0px;
	margin-left:10px;
	font-family:highland;
}

div.main_section {
    margin-top:20px;
    min-height:100px;
    font-family:alice;
    overflow-x:hidden;
    padding-bottom:10px;
    margin-bottom:25px;
}

div.main_color1 {
	border-left:10px solid #6A6174;
}

div.main_color2 {
	border-left:10px solid #47380A;
}

div.main_color3 {
	border-left:10px solid #543A11;
}

div.main_color4 {
	border-left:10px solid #613C18;
}

div.main_color5 {
	border-left:10px solid #6E3F20;
}

div.main_color6 {
	border-left:10px solid #7B4127;
}

div.main_color7 {
	border-left:10px solid #88432E;
}

div.main_color8 {
	border-left:10px solid #954535;
}

div.main_color9 {
	border-top:10px solid #369;
	text-align:right;
	font-size:9pt;
        min-height:50px;
}

div.main_window {
    margin-top:15px;
    margin-left:2.5%;
    float:left;
    padding-bottom:5px;
    background-color:#F3F0DD;
    border:1px solid #8A8194;
}

div.main_halfwidth {
    width:45%;
}

div.main_fullwidth {
    width:95%;
}

div.main_navigation {
	background-color:#3A3603;
	height:0px;
	overflow:hidden;
	padding-top:10px;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;
}

div.main_navigation:hover {
	height:25px;
}

div.main_navbox {
	height:25px;
	background-color:#3A3603;
	width:16.6666%;
	color:black;
	float:left;
        text-align:center;
}

div.main_navbox:hover {
	background-color:#333300;
}

div.main_navbox h2 {
	color:white;
	font-family:questrial;
	text-transform:lowercase;
	text-decoration:none;
	font-size:11pt;
	margin:0px auto;
}

div.main_section_nav_container {
    width:50%;
    margin:0px auto;
}

div.main_section_nav_box {
    float:left;
    width:25%;
    font-size:9pt;
    text-align:center;
}

div.main_section_nav_box > a {
    text-decoration:none;
}

div.main_toc {
    margin:10px 3%;
    width:25%;
    background-color:#C9C7AD;
    border:1px solid #8A8194;
    min-height:100px;
    float:left;
    font-size:10pt;
}

div.main_toc ol {
    padding-left:1em;
}

div.main_toc > ol {
    padding-left:2em;
}