div.ref_block {
	position:fixed;
	min-width:150px;
	min-height:50px;
	max-width:300px;
	left:0px;
	top:0px;
	display:none;
	background-color:#F3F0DD;
	font-family:alice;
	border:1px solid #333333;
	border-right: 10px solid #6A6174;
}

div.ref_block > h2{
	margin-top:3px;
}

div.ref_block a {
	color:#3A3603;
        text-decoration:none;
}

div.ref_block a:hover {
	color:#330000;
	text-decoration:none;
}

ol#referencelist, ol.referencelist {
	
}

ol#referencelist a, ol.referenceList a {
	text-decoration:none;
	color:#6A6174;
}

.ref_goto_citations {
	font-size:8pt;
	margin-top:20px;
	margin-left:30px;
}

.reference > a {
	font-family:monospace;
	color:#6A6174;
	text-decoration:none;
}

