

div.researchanalysis {
	width:95%;
	margin-left:2.5%;
	margin-top:50px;
	float:left;
	padding-bottom:5px;
	background-color:#F3F0DD;
	border:1px solid #8A8194;
}

div.middlefifty {
	width:50%;
	margin:0px auto;
}

div.researchh {
	text-align:center;
	font-size:13pt;
	color:#222222;
}

div.researchl {
	float:left;
	width:25%;
	font-size:9pt;
	text-align:center;
}

div.researchl a {
	text-decoration:none;
}

div.pdfbox {
	float:right;
	width:50px;
	height:50px;
}

div.papertitle {
	margin:10px 10% 0px 10%;
	border-bottom:1px dotted #555555;
	text-align:center;
	font-size:24pt;
}
div.paperinfo {
	margin:0px 10% 20px 10%;
	text-align:center;
	font-size:12pt;
}

div.paperexpl {
	margin:5px 3%;
}

div.papertoc {
	margin:10px 3%;
	width:25%;
	background-color:#C9C7AD;
	border:1px solid #8A8194;
	min-height:100px;
	float:left;
	font-size:10pt;
}

div.papertoc h4 {
	font-size:12pt;
}


div.paperfloatleft {
	float:left;
	margin-left:50px;
}

div.papermain {
	margin-top:20px;
	background-color:#E7E5CB;
	min-height:400px;
	font-family:alice;
	overflow-x:hidden;
	border-left:10px solid #805355;
	padding-bottom:10px;
	margin-bottom:25px;
}

.keysection {
	font-style:italic;
	margin:10px 5%;
	color:#666666;
	float:left;
	width:55%;
	
}

.paperoriginaltext {
	margin:11px 10px;
	font-size:12pt;
}

.paperannotation {
	color:#444444;
	font-size:10pt;
	margin:13px auto;
	width:80%;
}

.theorem {
	font-style:italic;
	font-size:110%;
	margin-top:0px;
}

.definition {
	font-size:110%;
	margin-top:0px;
}

img.pdf {
	width:95%;
	height:95%;
}

