div.rp_linkbox {
    float:right;
	margin-right:5px;
}

img.rp_link {
    width:48px;
    height:48px;
}

div.rp_linkbox a {
	text-decoration:none;
	color:#AAAAAA;
}

.rp_title {
    margin:10px 10% 0px 10%;
    border-bottom:1px dotted #555555;
    text-align:center;
    font-size:24pt;
    display:block;
}
.rp_info {
    margin:0px 10% 20px 10%;
    text-align:center;
    font-size:12pt;
    display:block;
}

.rp_author {
    font-style:italic;
}

.rp_problems {
    float:left;
    margin-left:50px;
}

.rp_snippet {
    font-style:italic;
    margin:10px 5%;
    color:#666666;
    float:left;
    width:90%;
	text-align:center;
}

.rp_original, .rp_analysis {
    margin:11px 10px;
    font-size:12pt;
}

.rp_annotation, .rp_self_reference {
    color:#444444;
    font-size:10pt;
    margin:13px auto;
    width:80%;
}

.rp_theorem_header, .rp_definition_header, .rp_sub_header {
    font-family:questrial;
    margin-top:8px;
    margin-bottom:2px;
    margin-left:20px; 
    color:#665;
    display:inline-block;
}

.rp_definition, .rp_theorem {
    font-size:110%;
    margin:0px auto 3px auto;
    width:90%;
}

.rp_sub_header + .rp_sub {
	margin:0px auto 8px auto;
	width:95%;
}

.rp_sub {
	margin:8px auto;
	width:95%;
}

ol.rp_theorem, ol.rp_definition {
    width:85%;
}

ol.rp_sub {
	width:91%;
}

img.rp_original {
	margin:10px auto;
	display:block;
}

.rp_truthtable {
	min-width:150px;
	width:50%;
	display:block;
	margin:5px auto;
	border-collapse:collapse;
}

.rp_truthtable td,th {
	border:1px solid #555555;
}

.rp_truthtable th {
	background-color:#DDDDDD;
}

.rp_annotation_footnote {
	margin:11px 10px;
	color:#444444;
    font-size:10pt;
}

li > p {
	margin-left:0px;
}
